<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="../../resources/img/CODI_logo_title.png" type="image/png" />
  <title>Coding4Life</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../resources/css/bootstrap.css" />
  <link rel="stylesheet" href="../../resources/css/flaticon.css" />
  <link rel="stylesheet" href="../../resources/css/themify-icons.css" />
  <link rel="stylesheet" href="../../resources/vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="../../resources/vendors/nice-select/css/nice-select.css" />
  <!-- main css -->
  <script src="../../resources/js/format-money.js"></script>
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>

<body>
<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="banner_content text-center">
            <h2 style="color: #fdc632">Course Details</h2>
            <div class="page_link">
              <a href="/home">Home</a>
              <a href="courses.html">Courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
  <div class="container">
    <div class="row course-container">
      <div class="col-lg-8 course_details_left">
        <div class="main_image">
          <img style="width: 700px" class="img-fluid"
               th:src="${course.imageUrl}" alt="">
        </div>
        <div class="content_wrapper">
          <h4 class="title">Objectives</h4>
          <div class="content" th:text="${course.objective}   ">

          </div>

          <h4 class="title">Description</h4>
          <div class="content" th:utext="${course.description}"></div>

          <h4 class="title">Who this course is for:</h4>
          <div class="content" th:utext="${course.suitable}"></div>

          <h4 class="title">Course Outline</h4>
          <div class="content">
            <ul class="course_list">
              <th:block th:each="chapter : ${course.chapters}">
                <li class="justify-content-between d-flex w-100" >
                  <p th:text="${chapter.chapterName}">Introduction Lesson</p>
                </li>
              </th:block>
            </ul>

          </div>
        </div>
        <h4 class="title">Reviews</h4>
        <div class="content">
          <div class="review-top row pt-40">
            <div class="col-lg-12">
              <h6 class="mb-15">Provide Your Rating</h6>
              <div class="d-flex flex-row reviews justify-content-between">
                <span>Quality</span>
                <div class="star">
                  <i class="ti-star checked"></i>
                  <i class="ti-star checked"></i>
                  <i class="ti-star checked"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                </div>
                <span>Outstanding</span>
              </div>
              <div class="d-flex flex-row reviews justify-content-between">
                <span>Puncuality</span>
                <div class="star">
                  <i class="ti-star checked"></i>
                  <i class="ti-star checked"></i>
                  <i class="ti-star checked"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                </div>
                <span>Outstanding</span>
              </div>
              <div class="d-flex flex-row reviews justify-content-between">
                <span>Quality</span>
                <div class="star">
                  <i class="ti-star checked"></i>
                  <i class="ti-star checked"></i>
                  <i class="ti-star checked"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                </div>
                <span>Outstanding</span>
              </div>
            </div>
          </div>
          <div class="feedeback">
            <h6>Your Feedback</h6>
            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
            <div class="mt-10 text-right">
              <a href="#" class="primary-btn2 text-right rounded-0 text-white">Submit</a>
            </div>
          </div>
          <div class="comments-area mb-30">
            <th:block th:each="feedback : ${course.feedbacks}">
              <div class="comment-list">
                <div class="single-comment single-reviews justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img th:src="${feedback.user.avatar}" alt="">
                    </div>
                    <div class="desc">
                      <h5><a href="#" th:text="${feedback.user.fullname}"></a>
                        <div class="review-star star" th:attr="star=${feedback.rating}">
                        </div>
                      </h5>
                      <p class="comment" th:text="${feedback.comment}">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>


      <div class="col-lg-4 right-contents">
        <ul>
          <li>
            <a class="justify-content-between d-flex" th:href="@{/teacher/{id}(id=${course.teacher.id})}" >
              <p>Trainer</p>
              <span class="or" th:text="${course.teacher.fullname}"></span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Course Fee </p>
              <span class="or price" th:inline="text" th:attr="course-price=${course.tuitionFee}"></span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Slot </p>
              <span th:text="${course.slot}"></span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Schedule </p>
              <span>6.00 pm <i class="ti-alarm-clock"></i> 9.00 pm</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Duration </p>
              <span>03-03-2023 <i class="ti-calendar"></i> 04-06-2023</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Start date </p>
              <span class="or" th:text="${course.startDate}"></span>
            </a>
          </li>

        </ul>
        <a href="#" class="primary-btn2 text-uppercase enroll rounded-0">Enroll the course</a>
      </div>
    </div>

    <h4 class="title stop-sticky">You might also like</h4>
    <div class="popular_courses">
      <div class="row">
        <!-- single course -->
        <div class="col-lg-12">
          <div class="owl-carousel active_course">
            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="../../resources/img/courses/c1.jpg" alt="" />
              </div>
              <div class="course_content">
                <span class="price">1.294.000VNĐ</span>
                <span class="tag mb-4 d-inline-block">Java</span>
                <h4 class="mb-3">
                  <a href="course-details.html">Full-Stack Java Web Developer</a>
                </h4>
                <p>
                  Java Web Development
                </p>
                <div
                        class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                  <div class="authr_meta">
                    <img src="../../resources/img/courses/author1.png" alt="" />
                    <span class="d-inline-block ml-2">PhuongNH</span>
                  </div>
                  <div class="mt-lg-0 mt-3">
                      <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                      </span>
                    <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="../../resources/img/courses/c1.jpg" alt="" />
              </div>
              <div class="course_content">
                <span class="price">1.294.000VNĐ</span>
                <span class="tag mb-4 d-inline-block">Java</span>
                <h4 class="mb-3">
                  <a href="course-details.html">Full-Stack Java Web Developer</a>
                </h4>
                <p>
                  Java Web Development
                </p>
                <div
                        class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                  <div class="authr_meta">
                    <img src="../../resources/img/courses/author1.png" alt="" />
                    <span class="d-inline-block ml-2">PhuongNH</span>
                  </div>
                  <div class="mt-lg-0 mt-3">
                      <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                      </span>
                    <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="../../resources/img/courses/c1.jpg" alt="" />
              </div>
              <div class="course_content">
                <span class="price">1.294.000VNĐ</span>
                <span class="tag mb-4 d-inline-block">Java</span>
                <h4 class="mb-3">
                  <a href="course-details.html">Full-Stack Java Web Developer</a>
                </h4>
                <p>
                  Java Web Development
                </p>
                <div
                        class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                  <div class="authr_meta">
                    <img src="../../resources/img/courses/author1.png" alt="" />
                    <span class="d-inline-block ml-2">PhuongNH</span>
                  </div>
                  <div class="mt-lg-0 mt-3">
                      <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                      </span>
                    <span class="meta_info">
                        <a href="#"> <i class="ti-heart mr-2"></i>35 </a>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Course Details Area =================-->
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/js/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/popper.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../../resources/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../../resources/js/owl-carousel-thumb.min.js"></script>
<script src="../../resources/js/jquery.ajaxchimp.min.js"></script>
<script src="../../resources/js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../../resources/js/gmaps.min.js"></script>
<script src="../../resources/js/theme.js"></script>
<!-- course detail JS -->
<script src="../../resources/js/course-detail.js"></script>

<script th:inline="javascript">

      /*<![CDATA[*/

          document.querySelectorAll(".price").forEach( el => {
            formatOnLoad(el, el.getAttribute("course-price"))
          })

          document.querySelectorAll(".review-star").forEach( el => {

            const reviewStar = parseInt(el.getAttribute("star"));

            for(var i = 1; i <= 5; i++){
              console.log(`${i <= reviewStar ? "checked" : "" }`)
              el.innerHTML += `<i class="ti-star ${i <= reviewStar ? "checked" : "" }"></i>`
            }
          });
       /*]]>*/
</script>
</html>